.card {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  & * {
    top: 60px;
    left: 20px;
  }
  .img {
    height: 400px;
    margin-bottom: 10px;
  }
  .address {
    font-size: 14px;
  }
  .price {
    font-weight: 700;
    color: #2c914e;
  }
  .area {
    font-size: 12px;
  }
}